form {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

input {
    width: 100px;
    height: 100px;
    border-radius: 16px;
    color: white;
    border: none;
  
    background-color: grey;
    font-size: 3rem;

}

.temp {
    text-align: center;
    margin-top: 10%;
}

h1 {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}   

.headings {
    
    color: slategrey;
    margin-bottom: 100px;
}